# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Node/Next en raíz
node_modules/
.next/
out/

# Entornos y cachés
.env
.env.local
.env.production
.env.development
*.cache
coverage/

# Mantener carpeta de publicación si se usa GitHub Pages
# (los artefactos de build se copian a docs/)
docs/
